main{
    font-family: "Arial";
}
.encriptador{
    position: relative;
    width: 1920px;
    height: 1080px;
    padding: 1%;
}
.logo-container{
    position: absolute;
}
#logo{
    width: 120px;
    height: 48px;
    background: #E5E5E5;
    left: 5%;
    margin: 2em 0;
}
#vector{
    width:31px;
    height:48px;
    margin: 0 auto;
}
section:not([class="logo-container"]){
    height: 944px;
}
.text-container,.message-container{
    width: 21%;
    height: 70%;
    float: left;
}
.bloque{
    width: auto;
    height: 15%;
}
.text-container{
    width: 60%;
    margin-left: 8em;
}
.aclaracion{
    margin: 2px 0;
    position: absolute;
    margin-left: 1em;
}
.message-container{
    background-color: #FFFFFF;
}
.message,.input-text {
    background-color: #FFFFFF;
    height: 70%;
    width: 95%;
    font-size: 32px;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
}
.message{
    height: 50%;
    color:slategrey;
}
.botones,.btnCopy{
    width: 70%;
    margin:30px auto;
    border: 1px solid black;
}
.botones button:hover{
    filter: brightness(0.8);
    transition: 0.5s;
}
.encriptar,.desencriptar{
    display:inline-block;
    font-size: 1.5em;
    text-align: center;
    vertical-align: center;
    color: #FEFEFE;
    border: none;
    width: 40%;
    height: 67px;
    background: #0A3871;
    font-weight: 300;
}
.desencriptar{
    background-color: #D8DFE8;
    float: right;
    border: 1px solid #0A3871;
}
.message,.input-text,.encriptar,.desencriptar,.copiar,.message-container{
    border-radius: 24px;
}
.message{
    position: relative;
    background-image: url("img/Muñeco.png");
    background-repeat: no-repeat;
    background-position: center 180px ;
    background-size: 300px;
    overflow: hidden;
}
.textoNoEncontrado{
    text-align: center;
    width:80%;
    margin: 0 auto;
    line-height: 1.25em;
}
#negrita{
    font-size: 24px;
    font-weight: 700;
}
.copiar{
    font-size: 1.5em;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    width: 100%;
    height: 67px;
    visibility: hidden;
}
.copiar,.desencriptar,.input-text{
   color: #0A3871;
}

body,.logo-container,.text-container,.input-text{
    background-color: #E5E5E5;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
    .logo-container{
        position: relative;
    }
    .encriptador{
        width: auto;
        height: 1385px;
    }
    section:not([class="logo-container"],[class="message-container"]){
        height: 60%;
    }section:not([class="logo-container"],[class="text-container"]){
         height: auto;
    }
    .bloque{
        height: 0%;
    }
    .text-container,.message-container,.logo-container{
        width: 100%;
        margin: 0 auto;
    }
    .botones,.btnCopy{
        width: 90%;
    }
    .message{
        width: 97%;
        margin: 10px 0;
        height: 0;
        background-image: none;
    }
    .message-container{
        height: auto;
    }
}
@media screen and (max-width: 375px) {
    .encriptador{
        width: auto;
        height: 933px;
    }
    .logo-container{
        position: relative;
    }
    .bloque{
        height: 0%;
    }
    section:not([class="logo-container"],[class="message-container"]){
        height: 50%;
    }section:not([class="logo-container"],[class="text-container"]){
         height: auto;
     }
    .text-container,.message-container.logo-container{
        width: 98%;
        margin: 0 auto;
        float: none;
    }
    .botones,.btnCopy{
        width: 100%;
        margin:30px 0;
    }
    .encriptar,.desencriptar,.message-container{
        width: 100%;
    }
    .encriptar{
        margin-bottom: 5%;
    }
    .desencriptar{
        float: left;
    }
    .message{
        width: 94%;
        margin: 10px 0;
        height: 0;
        background-image: none;
    }
    .message-container{
        margin-top: 7%;
        height: auto;
    }
}
